<header class="w-full">

  <div class="container flex justify-between p-3">

    <div class="header-nav-inner-block">
      <div routerLink="/" class="flex items-center cursor: cursor-pointer" style="color: #1b3764;">
        <img src="logo.ico" alt="logo" class="h-10 w-auto mr-2">
        <a  class="text-2xl">ScriptedSky</a>
      </div>

      <nav class="hidden md:flex">
        <a routerLink="/"
           [routerLinkActiveOptions]="{exact: true}"
           routerLinkActive="active" class="nav-item">
           Home
        </a>
        <a routerLink="/shop"
           routerLinkActive="active"
           class="nav-item">
           Books
        </a>
        <a class="nav-item">
          Blog
        </a>
        <a class="nav-item">
          Contact
        </a>
      </nav>
    </div>

    <div class="hidden md:flex  align-middle">

      <a class="custom-badge mt-2">
        <mat-icon>person_outline</mat-icon>
      </a>
      <div class="divider"></div>
      <a matBadge="5" matBadgeSize="large" class="custom-badge mt-2">
        <img src="shopping-cart.png" alt="Cart" class="w-7 h-7" />
      </a>

    </div>

    <!-- Mobile Menu Button -->
    <div class="mobile-menu md:hidden flex items-center">

      <a class="custom-badge mt-2">
        <mat-icon>person_outline</mat-icon>
      </a>
      <div class="divider"></div>
      <a matBadge="5" matBadgeSize="large" class="custom-badge mt-2">
        <img src="shopping-cart.png" alt="Cart" class="w-7 h-7" />
      </a>

      <button (click)="toggleMenu()" class="ml-2 menu-btn">
        <mat-icon>{{ isOpen ? 'close' : 'menu' }}</mat-icon>
      </button>
    </div>
  </div>

  <!-- Mobile Menu -->
  <div [class.hidden]="!isOpen" class="md:hidden mx-auto px-6">
    <div class="flex flex-col items-center space-y-4 px-2 pt-2 pb-3 sm:px-3">
      <a routerLink="/" class="nav-item text-xl font-bold">Home</a>
      <a routerLink="/shop" class="nav-item text-xl font-bold">Books</a>
    </div>
  </div>

</header>
