<div class="mt-6 rounded-lg border bg-white p-6 shadow-md md:mt-0">
    <div class="mb-2 flex justify-between">
        <p class="text-gray-700">Subtotal</p>
        <p class="text-gray-700">{{cartService.totals()?.subtotal}}₴</p>
    </div>
    <div class="flex justify-between">
        <p class="text-gray-700">Shipping</p>
        <p class="text-gray-700">{{cartService.totals()?.shipping}}₴</p>
    </div>
    <hr class="my-4" />
    <div class="flex justify-between">
        <p class="text-lg font-bold">Total</p>
        <div class="">
            <p class="mb-1 text-lg font-bold">{{cartService.totals()?.total}}₴</p>
        </div>
    </div>
    <button class="mt-6 w-full rounded-md bg-blue-500 py-1.5 font-medium text-blue-50 hover:bg-blue-600">
        Check out
    </button>
    <button
        routerLink="/shop"
        class="mt-2 w-full rounded-md  py-1.5 font-medium text-black hover:bg-gray-200">
        Continue shopping
    </button>
</div>