<section class="mx-auto container py-4 px-2 md:py-16 md:px-8 items-center md:flex">
  <div class="space-y-4 flex-1">
    <h1 class="text-secondary font-bold text-4xl xl:text-5xl">
      Welcome to our book realm!
      <p class="text-primary">Open a Book, Open the World</p>
    </h1>
    <p class="text-black w-full">
      Everyone will find something for themselves - from exciting novels to scientific books and poetry.
      Immerse yourself in the pages, where each unfolding opens new horizons. We offer books that inspire,
      educate and transport you to wonderful worlds. Convenient search and recommendations will help
      you quickly find what you need.
    </p>

    <div class="pt-5">
      <a class="bg-primary text-white
          py-3 px-6 rounded mt-4
          text-xl cursor: cursor-pointer text-center
          hover:bg-black">
        Buy our book
      </a>
    </div>

  </div>

  <hr class="mt-14">

  <div class="flex-1 text-center mt-7 lg:mt-0 lg:ml-3 md:mt-6">
    <img src="64b91982ebe4a1692ff5fcdc_hero-image.png" class="w-full mx-auto sm:w-10/12 lg:w-full" />
  </div>
</section>

<hr>

<section class="bg-white py-20">
  <div class="container mx-auto px-4 sm:px-6 lg:px-8">
    <div class="all-product-subtitle text-3xl font-extrabold text-gray-900">Why choose us?</div>
    <div class="mt-12 grid grid-cols-1 gap-8 sm:grid-cols-2 lg:grid-cols-4">
      <div class="card-hover bg-card-body p-10 rounded-lg">
        <div class="flex items-center justify-center h-12 w-12">
          <img src="https://cdn.prod.website-files.com/64b8bca09e0474df27fcc6a9/64d3506ce8a154f99910dc0b_trusted-seller.png" alt="">
        </div>
        <div class="mt-5">
          <h3 class="text-lg font-medium text-gray-900">Trusted Seller</h3>
          <p class="mt-2 text-base text-gray-500">Quality Shop with confidence knowing we're
            your trusted seller for genuine items.</p>
        </div>

        <div class="flex justify-end mt-4">
          <a href="#" class="flex bg-white p-1 px-4 text-black rounded-xl hover:bg-primary hover:text-white">
            <mat-icon>arrow_right_alt</mat-icon>
          </a>
        </div>

      </div>
      <div class="card-hover bg-card-body p-10 rounded-lg">
        <div class="flex items-center justify-center h-12 w-12">
          <img src="https://cdn.prod.website-files.com/64b8bca09e0474df27fcc6a9/64d350413454c59f60515e2c_book-store.png" alt="">
        </div>
        <div class="mt-5">
          <h3 class="text-lg font-medium text-gray-900">Best Bookstore</h3>
          <p class="mt-2 text-base text-gray-500">Books Explore More Your go-to destination for a treasure trove
            of reading wonders. </p>
        </div>

        <div class="flex justify-end mt-4">
          <a href="#" class="flex bg-white p-1 px-4 text-black rounded-xl hover:bg-primary hover:text-white">
            <mat-icon>arrow_right_alt</mat-icon>
          </a>
        </div>

      </div>
      <div class="card-hover bg-card-body p-10 rounded-lg">
        <div class="flex items-center justify-center h-12 w-12">
          <img src="https://cdn.prod.website-files.com/64b8bca09e0474df27fcc6a9/64c23cfb43d35ea1f076c739_payment-secure.png" alt="">
        </div>
        <div class="mt-5">
          <h3 class="text-lg font-medium text-gray-900">100% Money Back</h3>
          <p class="mt-2 text-base text-gray-500"> 100% Money Back guarantees are typically offered by promise to refund
            the full purchase. </p>
        </div>

        <div class="flex justify-end mt-4">
          <a href="#" class="flex bg-white p-1 px-4 text-black rounded-xl hover:bg-primary hover:text-white">
            <mat-icon>arrow_right_alt</mat-icon>
          </a>
        </div>

      </div>
      <div class="card-hover bg-card-body p-10 rounded-lg">
        <div class="flex items-center justify-center h-12 w-12">
          <img src="https://cdn.prod.website-files.com/64b8bca09e0474df27fcc6a9/64d35096432cde9ffa409314_expand-store.png" alt="">
        </div>
        <div class="mt-5">
          <h3 class="text-lg font-medium text-gray-900">Expand Store</h3>
          <p class="mt-2 text-base text-gray-500"> Diversify our products to cater to evolving needs and
            preferences of our customers. </p>
        </div>

        <div class="flex justify-end mt-4">
          <a href="#" class="flex bg-white p-1 px-4 text-black rounded-xl hover:bg-primary hover:text-white">
            <mat-icon>arrow_right_alt</mat-icon>
          </a>
        </div>

      </div>
    </div>

  </div>
</section>
