
.card-hover:hover {
  box-shadow: 0 0 11px rgba(33,33,33,.2);
}

.all-product-subtitle {
  background-image: url(https://assets-global.website-files.com/64b8bca09e0474df27fcc6a9/64c209a9257a06c3e24fadc7_latestblogshape.png);
  background-position: 50% 58%;
  background-repeat: no-repeat;
  padding-bottom: 16px;
  display: inline-block;
}
